.main {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding-top: 40px;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .main {
        width: calc(100% - 2 * 19px);
        padding-top: 38.25px;
    }
}