.profile__edit-button {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    margin: auto auto auto 18px;
    background-image: url('../../../images/pen.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    background-color: #000000;
}

@media screen and (max-width: 640px) {
    .profile__edit-button  {
        max-width: 18px;
        max-height: 18px;
    }
}

